@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
	font-family: Open sans;
	margin: 0px;
	width: 1347px;
}
*{
	box-sizing: border-box;
}
.posit{
	margin-top: 55px;
	width: 190px;
	margin-left: 70px;
}
.design{
	height: 45px;
	margin-left: 972px;
	width: 200px;
	background-color: white;
	border-radius: 25px;
	border: none;
	box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.3);


}
.design1{
	margin-left: 70px;
	width: 278px;
	height: 55px;
	border-radius: 25px;
	border: none;
	color: white;
	background-color: hsl(322, 100%, 66%);
	font-weight: bold;
}
.main_desi{
	font-size: 37px;
	font-family: Arial black;
	margin-left: 70px;
	color:  hsl(192, 100%, 9%);
}
.main_desi1, .main_desi3{
	font-size: 17px;
	margin-left: 70px;
	color:  hsl(208, 11%, 55%);
	font-weight: bold;

}
.main_desi3{
	margin-left: 115px;
}
.bloc1{
	height: 660px;
	background-image: url(bg-hero-desktop.svg);
	background-color: hsl(193, 100%, 96%);
	margin-top: -10px;
	margin-left: 2px;
	width: 1497px;
}
.makeup{
	width:660px;
	display: flex;
	float: right;
	margin-top: -325px;
	margin-right: 40px;
}
.bloc2{
	height: 1440px;
}
.partition1{
	width: 90%;
	margin: 0px auto;
	height: 420px;
	margin-right: 70px;
	margin-top: 140px;
	border-radius: 15px;
	box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.3);
	margin-left: 140px;
}
.main_desi2{
	font-size: 27px;
	font-family: Arial black;
	margin-left: 115px;
	color:  hsl(192, 100%, 9%);
	padding-top: 130px;
}
.makeup1{
	width: 400px;
	float: right;
	margin-top: -250px;
	margin-right: 15px;
}
.partition2{
	width: 90%;
	margin: 0px auto;
	height: 420px;
	margin-right: 70px;
	border-radius: 15px;
	box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.3);
	margin-top: 35px;
	display: flex;
	margin-left: 140px;

}
.makeup2{
	width: 410px;
	height: 270px;
	margin-top: 60px;
	margin-left: 115px;
}
.main_desi4{
	font-size: 27px;
	font-family: Arial black;
	color:  hsl(192, 100%, 9%);
	padding-top: 100px;
	margin-left: 110px;
}
.main_desi5{
	font-size: 17px;
	color:  hsl(208, 11%, 55%);
	font-weight: bold;
	margin-left: 110px;
	

}
.partition3{
	width: 90%;
	margin: 0px auto;
	height: 420px;
	margin-right: 70px;
	margin-top: 35px;
	border-radius: 15px;
	box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.3); 
	margin-left: 140px;

	
}
.main_desi6{
	font-size: 27px;
	font-family: Arial black;
	margin-left: 115px;
	color:  hsl(192, 100%, 9%);
	padding-top: 130px;
}
.main_desi7{
	font-size: 17px;
	margin-left: 70px;
	color:  hsl(208, 11%, 55%);
	font-weight: bold;
	margin-left: 115px;

}
.makeup3{
	width: 400px;
	float: right;
	margin-top: -250px;
	margin-right: 15px;
}
.partition4{
	width: 830px;
	margin: 0px auto;
	height: 258px;
	margin-top: 170px;
	border-radius: 15px;
	box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.3); 
	position: absolute;
  z-index: 3; 
  background: white;
  left: 295px;
  bottom: 30em;
	
}
.main_desi8{
	text-align: center;
	font-size: 28px;
	padding-top: 70px;
	font-family: Arial black;
	color:  hsl(192, 100%, 9%);

}
.design2{

	width: 375px;
	height: 70px;
	border-radius: 35px;
	border: none;
	color: white;
	background-color: hsl(322, 100%, 66%);
	font-weight: bold;
	font-size: 20px;
	display: flex;
	margin: 0px auto;
	


}
footer{
	height: 600px;
	background-color: hsl(192, 100%, 9%);
	border-top: 2px solid #AAA;
	width: 1499px;

}
.bloc3{
	height: 600px;
	position: relative;
	margin-top: 185px;
}
.main_esth{
	margin-left: 100px;
	color: white;
	display: flex;

}
.division{
	display: flex;

}
.main_esth1{
	margin-left: 145px;
	color: hsl(208, 11%, 70%);
	font-size: 20px;
}
.main_esth2{
	margin-left: 120px;
	color: hsl(208, 11%, 70%);
	font-size: 20px;

}
.positt{
	width: 250px;
	margin-left: 100px;
	margin-top: 200px;
}
.d1{
	border: 2px solid hsl(208, 11%, 70%);
	width: 40px;
	height: 40px;
	margin-left: 100px;
	padding-top: 7px;
	border-radius: 50%;

}
.d2{
	margin-left: 10px;
	border: 2px solid hsl(208, 11%, 70%);
	width: 40px;
	height: 40px;
	padding-top: 7px;
	border-radius: 50%;

}
.d3{
	margin-left: 10px;
	border: 2px solid hsl(208, 11%, 70%);
	width: 40px;
	height: 40px;
	padding-top: 7px;
	border-radius: 50%;
}
.rep1{
	color: hsl(208, 11%, 70%);
	font-size: 17px;
	margin-left: 30px;
}
#rip{
	font-size:24px ;
	color:white;
	margin-top:19px;
}
#rip1{
	font-size:24px ;
	color:white;
	margin-top:14px;
}
#rip11{
	font-size:24px ;
	color:white;
	margin-top:12px;
}
#rip2{
	font-size:20px;
	color:white;
	
}
.area{
	display: flex;
	margin-top:20px ;
}
#rip3{
	font-size:22px;
	color:white;

}
#rip4{
	font-size:24px;
	color:white;
}
.val{
	text-align: right;
	margin-right: 6px;
	color: white;
}

	/***************************Partie Responsive **************************************/

@media screen and (max-width: 768px){
	body{
		width: 100%;
		margin: 0;
		padding: 0;
		

	}
	*{
		box-sizing: border-box;
	}
	/******************************Partie1**********************************************/
	.bloc1{
	height: 600px;
	background-image: url(bg-hero-mobile.svg);
	background-color: hsl(193, 100%, 96%);
	margin-top: 0px;
	width: 100%;
	margin-right: 0px;
}
div, .hlh{
	width: 95%;
	margin: 0px auto;
}
img,.posit{
	width: 40%;
	margin-left: 8px;
	margin-top: 15px;
}
input,.design{
	margin-left: 0 ;
	float: right;
	font-size: 12px;
	margin-right: 25px;
	height: 25px;
	margin-top: 15px;
	width: 100px;
	border-radius: 15px;
	box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.main_desi{
	font-size: 20px;
	font-family: Arial black;
	color:  hsl(192, 100%, 9%);
	text-align: center;
	margin: -90px 0 0 0 ;
}
.bpl{
	width: 75%;
	margin: 0px auto;
}
.main_desi1{
	font-size: 13.5px;
	color:  hsl(208, 11%, 55%);
	font-weight: bold;
	margin: 6px 0 0 0;
	text-align: center;

}
.design1{
	width: 175px;
	height: 35px;
	border-radius: 20px;
	border: none;
	color: white;
	background-color: hsl(322, 100%, 66%);
	font-weight: bold;
	font-size: 12px;
	text-align: center;
   display: block;
   margin: auto;
   margin-top: 20px;
}
.bpl1{
	width: 85%;
	margin: 0px auto;
}
	/******************************Partie2**********************************************/


.bloc2{
	height:1500px;
	width: 90%;
	margin-top: 50px;

}
.partition1,.partition2, .partition3{
	width: 95%;
	height: 500px;
	margin: 0px auto;
}
div.ajust{
	width: 80%;
	margin: 0px auto;
	position: absolute;
	top: 55em;
	margin-left: -10px;

	
}
.main_desi2,.main_desi4, .main_desi6{
	margin: 15px;
	font-size: x-large;
	text-align: center;
	padding: 0;
}
.main_desi3, .main_desi5, .main_desi7{
	margin: 0;
	font-size: medium;
	text-align: center;
}
.ajust1, .ajust2, .ajust5{
	width: 90%;
	height: 220px;
	
	

}
.makeup1{
	width: 100%;
	height: 100%;
	padding-top: 15px;

}
.contain{
	width: 85%;
	margin: 0px auto;
	box-sizing: border-box;
}
img.makeup1{
	margin: 0;
}
/**********************************p2 de la partie2***********************************************/

.partition2, .partition3{
	margin-top: 25px;
	display: block;
}
.makeup2, .makeup3{
	width: 100%;
	height: 100%;
	margin: 0;
	padding-top: 15px;
}
.main_desi4{
	padding-top: 0px;
	margin-top: 30px 0 0 0;
}
.main_desi5{
	margin: 0;
}
/**********************************p3 de la partie2***********************************************/
.main_desi6{
	
	margin-left: 0px;
	padding-top: 0px;
}
.main_desi7{
	margin-left: 0px;
}
div.ajust4{
	width: 80%;
	margin: 0px auto;
	position: absolute;
	top: 122.5em;
	margin-left: -10px;

}
/**********************************Dernier bloc***********************************************/







.bloc3{
	
	position: relative;
	width: 100%;
	height: 100%;
}


.partition4{
	width: 80%;
    height: 110px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2); 
	position: absolute;
  z-index: 3; 
  background: white;
  left: 35px;
  bottom: 40.5em;
  
	
}
.main_desi8{
	text-align: center;
	font-size: small;
	padding-top: 17px;
}
.design2{

	width: 145px;
	height: 30px;
	border-radius: 15px;
	font-weight: 900;
	font-size: 8px;
}
.positt{
	width: 160px;
	margin-left: 20px;
	margin-top: 65px;
}
.main_esth{
	margin-left:0px ;
}
footer{
	width:100%;
	height: 700px;
}
.rep1{
	font-size: medium;
	margin-left: 4px;
}
#rip{
	font-size: 5px;
	margin-left: 0px;
	margin-top: 7px;
}
.main_esth1{
	margin-left:15px ;
	font-size: medium;
}
.main_esth2{
	margin-left:15px ;
	font-size: medium;
}
#rip{
	font-size:14px ;
	margin-top:20px;
	margin-left: 12px;
}
#rip1{
	font-size:14px ;
	margin-top:20px;
	margin-left: 12px;
}
#rip11{
	font-size:12px ;
	margin-top:22px;
	margin-left: 12px;
}


.val{
	margin-top: 30px;
	text-align: center;
	font-size:large ;
	
}
.area{
	align-items: center;
	justify-content: center;
}
#rip3,#rip4{
	font-size: 0.5em;
}


.d1,.d2,.d3{
	border: 1px solid hsl(208, 11%, 70%);
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin: 60px 50px 0 0;
}
.area .d1 #rip2,.area .d2 #rip3, .area .d3 #rip4{
	margin-top: 10px;
	font-size: 0.5em;
	padding-top: 0px;
	margin-left: 2px;
}
.d3{
	margin-left: 5px;
}
.d2{
	margin-left: 5px;
}
.d3,center{
	margin-top:-13px ;
	margin-left: 2px;

}
.d2,center{
	margin-top: -13px;
	margin-right: 0px;
}
.d1,center{
	margin-right: 3px;
	margin-top: -13px;
}
.d3{
	margin-left: 7px;
}

.division{
	display: block;
}
/****************************************/




img.makeup{
	width: 100%;
	margin-top: 40px;
	display: flex;
	margin: auto;
	margin-top: 20px;

}
.ajust3, .ajust4{
	width: 90%;
}



